body {
    padding-left: 300px;
}

input {
    width: 200px;
    resize: none;
    height: 40px;
    font-size: 17px;
}

#button {
    height: 45px;
    width: 150px;
    font-size: 17px;
}

h1 {
    font-size: 40px;
}

.smaskigt {
    margin: 10px;
    border: 2px solid black;
    padding-left: 10px;
    width: 200px;
}